body {
    overflow: hidden;
    min-height: 100vh;
}

.solar-syst {
    position: fixed;
    top: -150px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

* {
    color: #ffffff95;
    font-weight: 900;
}

.cv {
    display: flex;
    margin: 25px 25px;
    justify-content: center;
    background: linear-gradient(90deg, #14202b, #1C2837);
    border-radius: 30px;
    width: 25%;
    height: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.cv:hover {
    transition: 0.3s ease-in-out;
    background-color: #18222f;
    transform: scale(1.025);
}

.cv:active {
    transform: scale(1.075);
}

.cv p {
    cursor: pointer;
    margin: 10px;
}

.sites {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 25px;
    background: linear-gradient(90deg, #14202b, #1C2837);
    border-radius: 30px;
    width: 25%;
    cursor: pointer;
}

.sites-txt {
    margin-top: 10px;
    margin-bottom: 10px;
}

.liens {
    text-decoration: none;
    color: #ffffff95 !important;
    margin-bottom: 10px;
}
